<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Our Love Story</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<style type="text/css">
		@font-face {
			font-family: digit;
			src: url('digital-7_mono.ttf') format("truetype");
		}
	</style>
	<link href="stylesheets/default.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="javascripts/jquery.js"></script>
	<script type="text/javascript" src="javascripts/garden.js"></script>
    <script type="text/javascript" src="javascripts/functions.js"></script>
</head>

<body>
	
	<div id="mainDiv">
		<div id="content">
			<div id="code">
				<audio autoplay loop>
					<source src="http://oeasy.org/music/iloveu.mp3" type="audio/mp3" />
				</audio>
				宝贝,今天是2018年5月20日💗<br />
				去年今天，我也是通过这样的方式向你表白了😂<br/><br/>
				<span class="keyword">😘我们已经在一起一周年啦</span>😘</span><br /><br/>
				
				一年的时间聚少离多，算起来也就十来次的相聚。💏<br />
				
				每次相见时间很短暂，更多的是每日对你的思念😍<br/>

				异地恋不易，两个人两个城市过着两种生活😞<br/>

				工作辛苦，但是每天听到你的声音就能让我身心舒缓😋<br/>

				经受时间和距离的考验，我们更懂得如何珍惜彼此💕<br/><br/>

				以前一个人的时候会觉得也没什么，会发呆傻想消磨时间😳<br/>
				
				现在一闲下来满脑子都是你，原来你早已经在我心里安营扎寨啦😝<br/>				

				上次去乌镇玩是我最开心的一天，也是我们单独在一起最长的是时间😏<br/>	

				这才是向往的生活，有你有爱有欢笑💋<br/>	

				世界很大，诱惑很多，而只要我们能在一起就足够了💑<br/><br/>	

				现在我已经在青岛稳定了，为咱们开创家业迈出了第一步👣<br/>	

				这座城市很美，工作也很棒，以后这里就是咱俩的山头啦哈哈🐯<br/>	

				我尽快站稳脚跟，马上就接你过来，还接那电话受那气干啥呢😈<br/>	

				我们会有一个浪漫感人美丽的婚礼💒<br/>	

				和一个美好幸福的家庭👪<br/>	

				我们会过成想要的生活😙<br/>	<br/>	


				Boy i = <span class="keyword">new</span> Boy(<span class="string">"李涛"</span>);<br />
				Girl u = <span class="keyword">new</span> Girl(<span class="string">"王梅"</span>);<br />
				
				i.marry(u);<br />
				i.liveHappilyWith(u);<br />

			</div>
			<div id="loveHeart">
				<canvas id="garden"></canvas>
				<div id="words">
					<div id="messages">
						梅宝儿, 我们已经在一起
						<div id="elapseClock"></div>
					</div>
					<div id="loveu">
						永远爱你.<br/>
						<div class="signature">- 涛</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<script type="text/javascript">
		var offsetX = $("#loveHeart").width() / 2;
		var offsetY = $("#loveHeart").height() / 2 - 55;
		var together = new Date();
		together.setFullYear(2017, 4, 20);
		together.setHours(0);
		together.setMinutes(0);
		together.setSeconds(0);
		together.setMilliseconds(0);
		
		if (!document.createElement('canvas').getContext) {
			var msg = document.createElement("div");
			msg.id = "errorMsg";
			msg.innerHTML = "Your browser doesn't support HTML5!<br/>Recommend use Chrome 14+/IE 9+/Firefox 7+/Safari 4+"; 
			document.body.appendChild(msg);
			$("#code").css("display", "none")
			$("#copyright").css("position", "absolute");
			$("#copyright").css("bottom", "10px");
		    document.execCommand("stop");
		} else {
			setTimeout(function () {
				startHeartAnimation();
			}, 5000);

			timeElapse(together);
			setInterval(function () {
				timeElapse(together);
			}, 500);

			adjustCodePosition();
			$("#code").typewriter();
		}
	</script>
</body>
</html>
